# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
*.db
*.sqlite3
.venv/
venv/
dist/
build/
*.egg-info/

# Node
node_modules/
frontend/dist/
frontend/.vite/
.npm/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user
